
/*******************************/
/********* Multi Level Dropdown *********/
/*******************************/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  position: relative;
  background: black;
  font-family: 'Lato';
  font-weight: 300;
  color: #414141;
}
body img{
  width: 100%;
}
.dm_multiLevel {
	width: 100%;
	font-size: 1.1rem;
	height: 3.6rem;
	background: black ;
}
.dm_multiLevel.fixed{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
  background-color: black;
}
a{
  text-decoration: none !important;
}
.subMenu .timeline li h1 {
  display: none ;
}

.dm_multiLevel ul{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	vertical-align: baseline;	
}
.dm_multiLevel ul li{
  position: relative;
  display: inline-block;
}

.dm_multiLevel>ul>li {
  float: left;
}
.dm_multiLevel a {
  display: inline-block;
  padding: 1.2rem 1.8rem;
  line-height: 1.2rem;
  color: #FFF;
  transition: .2s ease-out;
}
.dm_multiLevel a:hover, li.active{
  background: black;
}


/* dropdown */
.dm_multiLevel ul.subMenu {
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  width: 170%;
}

.dm_multiLevel ul.subMenu li {
  width: 100%;
  background: black;
}

.dm_multiLevel ul.subMenu li a {
  width: 100%;
  padding: 1rem 1rem;

  border-top: 1px solid rgba(255,255,255,.1);
}

.dm_multiLevel ul.subMenu li a:hover, .dm_multiLevel ul.subMenu li.active>a {
  background: #763568;
  padding-left: 1.1rem;
}
.dm_multiLevel ul.subMenu img{
  width: 210px;
  margin-left: 10px;
}

.dm_multiLevel ul.subMenu ul.subMenu{
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}

/* responsive */
.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 768px){
  .dm_multiLevel ul {
      position: relative;
      width: 100%;
  }
  .dm_multiLevel ul li {
      display: block;
      width: 100%;
  }
  .dm_multiLevel ul.subMenu {
      position: relative;
      width: 100%;
  }
  .dm_multiLevel ul.subMenu li {
      width: 100%;
      padding: 0;
      border-bottom: 1px solid #ccc;
  }
  .dm_multiLevel ul.subMenu li a {
      width: 100%;
      padding: 1rem 1rem;
  }
  .dm_multiLevel ul.subMenu li a:hover {
      background: rgba(255,255,255,.1);
      color: black;
  }
  .dm_multiLevel ul.subMenu ul.subMenu {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
  }
  .dm_multiLevel ul.subMenu ul.subMenu li a {
      padding: 0.7rem1rem;
  }
}
@media (min-width: 968px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 792px) {
  .container {
    width: 1%;
  }
}
@media (min-width: 12000px) {
  .container {
    width: 1170px;
  }
}